/* Intro */

.intro {
    font-size: 1.2em;
    margin: 6rem 1.5rem;
    text-align: center;
}

.intro a.name {
    border-bottom-width: .3rem;
}

/* Instrument Table */

table.instrument-table tr th:first-child {
    min-width: 200px;
}

/* Instrument Page */

section.instrument .title {
    font-weight: 600;
}

section.instrument .row {
    margin-bottom: 0.5rem;
}

section.instrument .row div {
    margin-left: 1rem;
}

section.instrument .muted {
    opacity: 0.35;
}
