@import 'components.css';

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&family=Bitter:wght@400;500;600;700&display=swap');

/* Variables */

:root {
    /* Fonts */
    --title-font-family: "Raleway";
    --body-font-family: "Bitter";
}

:root,
[data-theme="dark"] {
    --accent-color: #16b6b0;
    --body-background-color: #1f1f24;
    --body-text-color: #c9c9c9;
    --body-text-color-highlighted: #000;
    --body-text-color-bold: #d7d7d7;
    --body-text-color-muted: #aaa;
    --border-color: rgba(255, 255, 255, 0.15);
    --button-background-color: var(--body-background-color);
    --button-background-color-highlighted: var(--accent-color);
    --button-text-color: var(--body-text-color);
    --button-border-color: var(--border-color);
    --code-background-color: #333;
    /* Basic Colors */
    --gray: var(--body-background-color);
    --pink: #f48498;
    --purple: #73628a;
    --red: #96424b;
    --yellow: #ffe787;
}

[data-theme="light"] {
    --accent-color: #1bd6cf;
    --body-background-color: #eaeaea;
    --body-text-color: #444;
    --body-text-color-highlighted: #fff;
    --body-text-color-bold: #333;
    --body-text-color-muted: #777;
    --border-color: rgba(0, 0, 0, 0.15);
    /* --button-background-color: var(--body-background-color);
    --button-background-color-highlighted: var(--accent-color);
    --button-text-color: var(--body-text-color);
    --button-border-color: var(--border-color); */
    --code-background-color: #f5f5f5;
    /* Basic Colors */
    --gray: #625f63;
}

/* Selection */

::selection {
    color: var(--body-text-color-highlighted);
    background-color: var(--accent-color);
}

/* Selection */

::selection {
    color: var(--body-text-color-highlighted);
    background-color: var(--accent-color);
}

/* HTML */

html {
    background-color: var(--body-background-color);
}

/* Body and Container */

body {
    color: var(--body-text-color);
    font-family: var(--body-font-family);
}

/* The min-width is the side margins of the container + the maximum preferred width. */
@media screen and (min-width: calc(1200px + 3rem)) {
    body>.container {
        margin: 0 auto;
        max-width: 1200px;
    }
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--body-text-color-bold);
    font-family: var(--title-font-family);
}

/* Strong */

strong {
    color: var(--body-text-color-bold);
}

/* Links */

a {
    color: var(--body-text-color-bold);
    border-bottom: .2rem solid var(--accent-color);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: var(--body-text-color-highlighted);
    background-color: var(--accent-color);
}

a.image, a.icon {
    border-bottom: none;
}

a.image:hover, a.icon:hover {
    background-color: transparent;
    border-bottom: none;
}

/* Lists */

li+li {
    margin-top: .5rem;
}

/* Section */

section {
    margin: 0 1.5rem 4.5rem;
}

/* Footer */

footer {
    padding: 3rem 1.5rem;
    text-align: center;
}

/* Code */

pre[class*='language-'] {
    border-radius: .5rem;
    font-size: 1em;
    line-height: 1.4;
    margin: 2rem 0 1.5rem;
}

code {
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
    color: rgb(232, 80, 118);
    padding: .2em .4em;
}

/* Tables */

table {
    border-collapse: collapse;
    text-align: left;
}

table tr {
    vertical-align: top;
}

table thead tr {
    background: rgba(255, 255, 255, 0.075);
}

table tbody tr {
    background: rgba(255, 255, 255, 0.025);
}

table tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.05);
}

[data-theme="light"] table thead tr {
    background: rgba(0, 0, 0, 0.15);
}

[data-theme="light"] table tbody tr {
    background: rgba(0, 0, 0, 0.05);
}

[data-theme="light"] table tbody tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
}

table thead th,
table tbody td {
    padding: 0.5rem;
}
