/* Root Element */

html {
    height: 100%;
}

/* Body and Container */

body {
    font-size: 1em;
    height: 100%;
    line-height: 1.5;
    margin: 0;
}

body>.container {
    height: 100%;
    margin: 0 1.5rem;
}

/* The min-width is the side margins of the container + the maximum preferred width. */
@media screen and (min-width: calc(1200px + 3rem)) {
    body>.container {
        margin: 0 auto;
        max-width: 1200px;
    }
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1.5rem;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h4,
h5,
h6 {
    line-height: 1.8;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: .875rem;
}

h6 {
    font-size: .85rem;
}

h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
    margin-top: 3rem
}

/* Paragraph */

p {
    line-height: 1.7;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

/* Section */

section {
    margin: 0 0 4.5rem;
}
